.text_blue{
    color: #2626a9b2;
}

.spinner-grow-sm{
    color: #2626a9b2;
}

.custom__shadow{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.user-list {
  padding: 20px;
}

.loading, .error, .no-users {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error {
  color: #d32f2f;
}



.text__shadow{
    color: white;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.358),
    0 0 10px rgba(0, 0, 0, 0.379);
}

.card__shadow{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}