
/* Default: Light theme */
:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #3b82f6;
  .card{
    transition: all 0.3s linear;
    outline: 1px solid transparent;
    border: none;
  }

}



body {
  background-color: var(--bg);
  color: var(--text);
}


.light-theme {
  --bg: #ffffff;
  --text: #000000;
}

.grey-theme {
  --bg: #eeeeee;
  --text: #111111;
}

.dark-theme {
  --bg: #151515;
  --text: #ffffff;
}
