
/* Default: Light theme */
:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #3b82f6;
   .text-500{
        color: red;
    }
  
    .card{
        transition: all 0.3s linear;
        outline: 1px solid transparent;
        border: none;
   
    }

}

/* Dark theme */
.light-theme {
  --bg: rgba(238, 238, 238, 0.635);
  --text: #ffffff;
    .card {
        background-color:rgba(255, 255, 255, 0.904) ;
        &:hover{
            background-color:rgba(255, 255, 255, 0.938) ;

        }
    }
}

body {
  background-color: var(--bg);
  color: var(--text);
}
