.truncate-4-lines {
  display: -webkit-box;       
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4;     
  overflow: hidden;           
  text-overflow: ellipsis;    
}

.col-4:nth-of-type(odd) .card {
  border: 1px solid #56565671;
}


.card{
  transition: all 0.3s linear;
  outline: 1px solid transparent;
  border: none;
  &:hover{
    outline: 1px solid rgb(194, 194, 194);
  }
}

.text-def{
  font-family: "Montserrat", sans-serif;
}




