<!-- <div class="border pb-0 rounded-2 surface-50" style="width: 26rem;">
 

</div> -->


<p-tabs class="border-0 pb-0 rounded-0 surface-50 position-fixed" style="width: 26rem;" value="0">
    <p-tablist>
        <p-tab value="0">Group Chat 1</p-tab>
        <p-tab value="1">Header II</p-tab>
        <p-tab value="2">Header III</p-tab>
    </p-tablist>
    <p-tabpanels class="border-0 pb-0 px-0 rounded-0 surface-50 shadow-1 rounded-2">
        <p-tabpanel value="0">
            <div class="card bg-transparent border-0 flex justify-center px-3 pt-3">
                <p-avatar-group>
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle" />
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="normal" shape="circle" />
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="normal" shape="circle" />
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" size="normal" shape="circle" />
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="normal" shape="circle" />
                    <p-avatar label="+2" shape="circle" size="normal" />
                    <h6 class="ms-auto text-600">Group Chat</h6>
                    
                </p-avatar-group>
                <small class=" text-600 ms-auto">you and 99+ others</small>
                <hr class="mx-3"/>
            </div>
            <div #chatContainer class="p-3 overflow-y-scroll overflow-x-hidden custom-scrollbar" style=" height: 24rem;" >
            
                <app-chat-message  (messageDeleted)="removeMessage($event)" [myId]="myId" [messages]="messages()"></app-chat-message>
            </div>
            <div class="pt-1 px-0 m-0 w-full">
                <app-chat-input [myId]="myId"  [(value)]="newMessage"></app-chat-input>
            </div>

        </p-tabpanel>
        <p-tabpanel value="1">
            <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                modi.
            </p>
        </p-tabpanel>
        <p-tabpanel value="2">
            <p class="m-0">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit quo minus.
            </p>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>