input.ng-touched.ng-invalid.ng-dirty{
    border-color: #f87171;
    outline: 2px solid rgba(197, 41, 41, 0.267);
     border-radius: 0.25rem !important;
}

input.ng-touched.ng-valid{
    color: #2626a9b2;
    
}

p-datePicker.ng-invalid.ng-dirty {
    border-color: #05fa15;
    outline: 2px solid rgba(197, 41, 41, 0.267);
    border-radius: 0.25rem !important;
}

p-datePicker.ng-invalid.ng-dirty.p-datepicker.p-inputtext {
    border-color: #ff0000;
}