.bgpurple{
    background-color: #9f7aea !important;
}

.bg-green.p-button {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;

}

.bg-green.p-button:hover {
  background-color: #218838 !important;
  border-color: #ffffff !important;
}
