<div class="d-flex justify-content-center">
    <div class="mt-4 text-center">
        <div class="display-1 text-500 fw-normal mb-3">0</div>
            <div class="row justify-content-center">
                <div class="col text-center mt-1">
                    <figure >
                        <img src="https://cdn-icons-png.flaticon.com/256/4865/4865933.png" height="130" class="object-fit-lg-contain"/>
                    </figure>
                </div>
                <p>Page Not Found :(</p>
            </div>
        <div class="d-grid mt-3">
            <button class="btn__blue" [routerLink]="'/'">Go back</button>
        </div>
    </div>

</div>