@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


.chat-message__comeing {
  position: relative;
  display: inline-block;
  max-width: 70%;        
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #ffffff;
  background-color: #1e7adeba;
  align-self: flex-start;
  border-top-left-radius: 0;


  .timestamp {
    display: block;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.2rem;
    text-align: right;
  }
}

.chat-message__going {
  position: relative;
  display: inline-block;
  max-width: 70%;        // prevents message from being too wide
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
  word-wrap: break-word;
  position: relative;
  color: #ffffff;
  background-color:  #9f7aea;;
  align-self: flex-end;
  border-top-right-radius: 0;
font-family: "Montserrat", sans-serif;

  .timestamp {
    display: block;
    font-size: 0.6rem;
    color: rgba(241, 241, 241, 0.888);
    margin-top: 0.2rem;
    text-align: left;
    font-family: "", monospace;
  }
}


.icon__delete{
  position: absolute;
  top: -19px;

  left: 94%;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.4s ease, color 0.2s ease;
  color: rgba(234, 12, 12, 0.7);
  background-color: rgba(231, 231, 231, 0.422);
  &:hover{
    background-color: rgba(231, 231, 231, 0.646);
  }
}

.chat-message__going:hover .icon__delete {
  opacity: 1;
}

.chat-message__deleted {
  position: relative;
  display: inline-block;
  max-width: 70%;        // prevents message from being too wide
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  color: #fff;
  background-color: #4d4d4dcd;
  align-self: flex-end;
  border-top-right-radius: 0;


  .timestamp {
    display: block;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.2rem;
    text-align: right;
  }
}

